.CorousalCardBody{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.288);
    height: 280px;
    width: 385px;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    background-color: white;
    flex-shrink: 0;
}

.CorousalCardInfo{
    height: 30%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.CorousalCardInfo p{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
}


@media only screen and (max-width: 600px) {
    .CorousalCardBody{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.288);
        height: 230px;
        width: 310px;
        border-radius: 15px;
        margin: 10px;
        overflow: hidden;
        background-color: white;
        flex-shrink: 0;
    }
}