.CardL{
    background-color: white;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(202, 202, 202);
    /* width: 100%; */
    /* height: auto; */
}


@media only screen and (max-width: 1200px) {
    .CardL{
        margin-left: 10px;
        margin-bottom: 10px;
        background-color: white;
        padding: 15px;
        /* width: 100%; */
    }
}

@media only screen and (max-width: 840px) {
    .CardL{
        margin-left: 0;
    }
}