.MainDashboardLowerContainer{
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: 0 0 15px rgb(202, 202, 202);
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

.Solntabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.SolnSubtabs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.SolnBtns{
    padding: 10px;
}
.SolnBtns:hover{
    font-weight: bold;
}

.active{
    background-color: rgb( 248, 248, 250);
}


@media only screen and (max-width: 840px) {
    .MainDashboardLowerContainer{
        margin-right: 0;
    }
}
