.UpperDashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 15px;
    /* width: 100%; */
    height: 300px;
    margin-left: 10px;
}

.MainDashboardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.LowerDashboard{
    width: 100%;
    margin-left: 10px;
}

@media only screen and (max-width: 1200px) {
    .UpperDashboard{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}

@media only screen and (max-width: 840px) {
    .LowerDashboard{
        width: 100%;
        margin-left: 0;
    }
}


