ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}


li a:hover {
    font-weight: bold;
}

.NavBarBG{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 15px rgb(202, 202, 202);
}

.NavBarMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

@media only screen and (max-width: 810px) {
    .premium{
        position: absolute;
        display: none;
    }
}
@media only screen and (max-width: 720px) {
    .logo{
        position: absolute;
        display: none;
    }
}
@media only screen and (max-width: 680px) {
    .logo{
        display: block;
        position: relative;
    }
    .NavBarMainContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}