.ProfileContainer{
    display: flex;
    flex-direction: row;
    /* padding: 15px; */
    border-radius: 10px;
}

.EditProfileButton{
    background-color: rgb( 248, 248, 250);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.EditProfileButton:hover{
    background-color: rgb(230, 230, 232);
}

.IconNamePair{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.IconNamePair p{
    margin-left: 5px;
}